body{
    background-color: black;
    color: white;
    font-family: "Savate", sans-serif;
    margin: 0px;
}

header{
    border-bottom: dotted 3px rgb(228, 126, 42);
    padding: 20px;
    font-size: 35px;
    color: rgb(228, 126, 42);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
    background-color: rgb(184, 156, 213);
}